html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(180deg, #2c2c2c, #000000);
  color: white !important;
  /* padding-top: 100px !important; */
}

footer {
  position: fixed;
  bottom:0;
  left:0;
  width: 180px;
  display: block;
  max-height: 22px;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(180deg, #2c2c2c, #000000);
  border-radius: 10px 10px 0px 0px;
  font-size: smaller;
  z-index: 20;
}
footer p a {
  text-decoration: none;
  color:teal;
}

footer p a:hover {
  color: orange;
  text-decoration: underline;
}

.App {
  padding-top: 50px !important;
}


.nav {
  position:fixed;
  top:0;
  width: 100vw;
  justify-content: space-around;
  /* background-color: #828282; */
  background: linear-gradient(180deg, #828282, #000000);
  border-radius: 0px 0px 10px 10px;
  border-bottom: solid 1px;
  color:black;
  z-index: 20;
}

.nav-pills .nav-link {
  color:white;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: black !important;
  background-color: white !important;
}

.nav-link:hover, .nav-link:focus {
  color: white !important;
}

.all-container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  margin-top: 10em;
  margin-left: 44vw;

}

.major-container{
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 25px;

}

.major-item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  color: black;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.50)
}


#Major1 {
  background-color: #FFA500;
  transform: rotate(0deg) translate(120px) rotate(0deg);
}

#Major2 {
  background-color: #FFD700;
  transform: rotate(30deg) translate(120px) rotate(-30deg);
}

#Major3 {
  background-color: #FFFF00;
  transform: rotate(60deg) translate(120px) rotate(-60deg);
}

#Major4 {
  background-color: #7FFF00;
  transform: rotate(90deg) translate(120px) rotate(-90deg);
}

#Major5 {
  background-color: #008000;
  transform: rotate(120deg) translate(120px) rotate(-120deg);
}

#Major6 {
  background-color: #008080;
  transform: rotate(150deg) translate(120px) rotate(-150deg);
}

#Major7 {
  background-color: #0000FF ;
  transform: rotate(180deg) translate(120px) rotate(-180deg);
}

#Major8 {
  background-color: #4B0082;
  transform: rotate(210deg) translate(120px) rotate(-210deg);
}

#Major9 {
  background-color: #EE82EE;
  transform: rotate(240deg) translate(120px) rotate(-240deg);
}

#Major10 {
  background-color: #8B0000;
  transform: rotate(270deg) translate(120px) rotate(-270deg);
}

#Major11 {
  background-color: #FF0000 ;
  transform: rotate(300deg) translate(120px) rotate(-300deg);
}

#Major12 {
  background-color: #FF7F50 ;
  transform: rotate(330deg) translate(120px) rotate(-330deg);
}

#Major13 {
  background-color: #D3D3D3;
}

div.major-container a .major-item:hover {
  border: 2px solid;
  border-color: white;
}

div.major-container a .major-item:active {
  color:white;
}


/* Minor Keys */
.minor-container{
  width: 80vw;
  height: 80vw;
  max-width: 300px;
  max-height: 300px;
  margin-top: 25px;

}

.minor-item {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  color: black;
  font-weight: bolder;
  text-align: center;
  line-height: 50px;
  box-shadow: 0 3px 4px rgba(0,0,0,0.50)
}

#Minor1 {
  background-color: #FFA500;
  transform: rotate(0deg) translate(120px) rotate(0deg);
}

#Minor2 {
  background-color: #FFD700;
  transform: rotate(30deg) translate(120px) rotate(-30deg);
}

#Minor3 {
  background-color: #FFFF00;
  transform: rotate(60deg) translate(120px) rotate(-60deg);
}

#Minor4 {
  background-color: #7FFF00;
  transform: rotate(90deg) translate(120px) rotate(-90deg);
}

#Minor5 {
  background-color: #008000;
  transform: rotate(120deg) translate(120px) rotate(-120deg);
}

#Minor6 {
  background-color: #008080;
  transform: rotate(150deg) translate(120px) rotate(-150deg);
}

#Minor7 {
  background-color: #0000FF ;
  transform: rotate(180deg) translate(120px) rotate(-180deg);
}

#Minor8 {
  background-color: #4B0082;
  transform: rotate(210deg) translate(120px) rotate(-210deg);
}

#Minor9 {
  background-color: #EE82EE;
  transform: rotate(240deg) translate(120px) rotate(-240deg);
}

#Minor10 {
  background-color: #8B0000;
  transform: rotate(270deg) translate(120px) rotate(-270deg);
}

#Minor11 {
  background-color: #FF0000 ;
  transform: rotate(300deg) translate(120px) rotate(-300deg);
}

#Minor12 {
  background-color: #FF7F50 ;
  transform: rotate(330deg) translate(120px) rotate(-330deg);
}

#Minor13 {
  background-color: #D3D3D3;
}

div.minor-container a .minor-item:hover {
  border: 2px solid;
  border-color: white;
}

div.minor-container a .minor-item:active {
  color:white;
}